<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SchoolContextDb" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\School.sdf;Initial Catalog=School;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SchoolContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SchoolDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SchoolEntities" connectionString="metadata=res://*/Source.Model.SchoolModel.csdl|res://*/Source.Model.SchoolModel.ssdl|res://*/Source.Model.SchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KRK\SQLEXPRESS;initial catalog=School;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>